.container {
  position: relative;
}

.image {
  object-fit: contain;
}

.scanner {
  position: absolute;
  border: 1px solid $gray-10;
  border-radius: 0.8rem;
  background-color: rgb(0 0 0 / 20%);
  cursor: pointer;
  pointer-events: none;
}
