.container {
  width: 100%;
  background-color: $white;
}

.inner {
  @include inner;
}

.delivery-img-wrap {
  position: relative;
}

.delivery-img-wrap,
.center {
  @include flex-center;
}

.center {
  @include pretendard-16-400;

  margin-bottom: 200px;
  color: $gray-50;
}

.icon {
  position: absolute;
  top: 0;
  right: 20rem;
}
