.container {
  width: 100%;
  background-color: #3363ff;
  scroll-margin-top: 10rem;
}

.inner {
  @include inner;
}

.center {
  @include pretendard-16-400;

  display: block;
  width: 100%;
  padding-bottom: 16rem;
  color: $white;
  text-align: center;
}
