.container {
  margin-top: 4rem;
  text-align: center;
}

.event-area {
  @include flex-column(2rem);
}

.button-area {
  @include flex-center;

  margin-top: 6rem;
}

.start-button {
  background-color: $black;
}

.roulette-area {
  position: relative;
}

.point-img {
  position: absolute;
  z-index: 3;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.result {
  font-size: 3rem;
}

.tag {
  margin-top: 7.2rem;
  @include flex-center;
}
