.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cart-count {
  display: flex;
  position: absolute;
  top: -0.5rem;
  right: -0.7rem;
  align-items: center;
  justify-content: center;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 30rem;
  background-color: $red;
  color: $white;
  @include pretendard-14-400;
}

.count-more-digit {
  width: 2.3rem;
}

.cart-icon {
  fill: $primary;
  cursor: pointer;
}

.black {
  fill: $white;
}
