.wrapper {
  @include flex-center;

  flex-direction: column;
  width: 100%;
  padding: 10rem 0;
}

.search-wrapper {
  width: 40%;
}

.content-wrapper {
  @include flex-column(5rem);

  width: 100%;
  padding: 10rem 12rem;
}
